body {
    background-color: palevioletred;
}
#thehead{
    background-color: whitesmoke;
    width: 30%;
    height: 20%;
    border: 1cm;
    border-color: grey;
    border-radius: 50px;
}
#yed{
    background-color: whitesmoke;
    width: 60%;
    height: 180%;
    border-radius: 15%;
}
#play{
    height: 50%;
    width: 75%;
    border-radius: 10%;
}
#theheadhead{
    background-color: pink;
    width: 60%;
    border-radius: 100px;
}
#tutorial{
    background-color: pink;
    width: 70%;
    border-radius: 20%;
}